#title
{
	font-size: 2em;
	font-family: sans-serif;
	text-align: center;
}

:root {
	--blobSize: 10em;
	--BlobExpandSize: 11em;
}


.container {
	padding-top: 5%;
	padding-left:5%;
	display: grid;
	width: 90%;
	height: 90%;
	align-items: center;
	gap: .1em;
	grid-template-columns: 13em 13em 13em;
	grid-template-rows: 13em 13em;
	align-self: center;

	
}

blob
{
	background-image: linear-gradient(#606060,#202020 );
	text-align: center;
	border-radius: 20%;
	aspect-ratio: 1;
	padding: 2%;

	display: flex;
	height: 10em;
	max-height: 10em;
	
	align-content: center;
	align-items: center;

	border-width: 1em;
	transition: height 0.5s, max-height 0.5s, min-height 0.5s, margin 0.5s;

	margin: 1em;

	outline: .2em;
	outline-color: #111111;
	outline-style: solid;
}
blob:hover
{
	outline-color: #AAAAAA;
	margin: 0.5em;
	height: 11em;
	max-height: 11em;
	transition: height 0.5s, max-height 0.5s, min-height 0.5s, margin 0.5s;
}

blob:active
{
	outline-color: #FFFFFF;
	background-image: linear-gradient(#707070,#707070 );
}


img
{
	
    object-fit: contain;
    width: 80%;
    height: 80%;
    padding: 10%;
}

/*0 0/calc(100% - 5px) calc(100% - 5px), prevents outline from being masked away*/
#settings {
	mask-type: alpha;
	mask: conic-gradient(from 90deg at 5px 5px,#0000 25%,#000 0) 
    0 0/calc(100% - 5px) calc(100% - 5px),
		url("../assets/icon/settings.svg");
	-webkit-mask:
	conic-gradient(from 90deg at 1em 1em,#0000 25%,#000 0) 
    0 0/calc(100% - 1em) calc(100% - 1em),
		url("../assets/icon/settings.svg");
	mask-size: 100%;
	mask-border: none;
	mask-repeat: no-repeat;
}

#settings::after {
	mask-border: unset;
	outline-color: red;
	outline-width: 5em;
}