pseudo-blob
{
    outline-style: dashed;
    outline-color: orange;
}
footer {
    outline-style: dashed;
    outline-color: orange;
}
.container {
    outline-color: red;
    outline-style: dashed;
}