
p {
    background-color: lemonchiffon;
    border: dashed 1px black;
}
#inputContainer
{

    display: inline-flex;
    vertical-align: middle;
    gap: 5%;
    text-align: center;
    align-content: center;
    scroll-padding: 10%;
    overflow: hidden;
    justify-content: center;
    align-items: flex-start;
    align-self: end;
    overscroll-behavior-x: contain;
    background-color: #333333BB;
    border-radius: 25px;
    padding: 10px 5px 0px 10px;
    margin: 2px;
}
body {
    background-image: linear-gradient(#060611,#200606 );
    background-attachment: fixed;
    text-align: center;
    flex:1;
    display:flex;
    overflow: hidden;
    margin: 0px;
}
main {
    justify-content: center;
    vertical-align: center;
    align-content: center;
    display:flex;
    flex: 1;

}

#background
{
    position: fixed;
    display:flow-root;
    z-index: -1;
}

html
{
    display: flex;
    flex:1;
    flex-direction: column;
    height: 100vh;
    /*height: 100%;
    overscroll-behavior-x: none;*/
    margin: 0px;
}

header
{
  left: 0; 
  right: 0; 
  margin-inline: auto;
  padding: 2em;
  width: fit-content;
  position:sticky;
}
footer
{
    min-height: 2.5%;
    bottom:10px;
    right: 10px;
    position: fixed;
    display:flow-root;
}
home-screen
{
  left:0;
  right:0;
  display: flex;
  flex: 1;
}

.toggle {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.toggle input {
  display: none;
}


.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #333;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #FFF;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #048;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

header {
  position:absolute;
  align-content: center;
  flex:1;
  display: flex;

}

#search {
  position:sticky;
  margin-top: .2em;
  align-self: center;
  align-content: center;
  font-size:1.5em;
  height: 1.5em;
  background-color: #202020;
  border: .2em;
  margin:.2em;
  border-color:#606060;
  color: #FFFFFF;
  border-radius: 1em;
  padding: 1em;
  font-family: oxygen;
  
}
#search:focus
{
  background-color: #333333;
}

.panel
{
  background-image: none;
  background-color: #333333;
  border-color: #606060;
  border-radius: 3vmin;
  position: fixed;
  display:flow-root;
  z-index: 2;
}

#settingsPage
{
  background-color: #151515;
  border-color: #606060 !important;
  border: 5px;
  border-style: solid;
  border-radius: 5vmin;
}