@property --background-color {
  syntax: "<color>";
  inherits: false;
  initial-value: #333333;
}
@property --alt-background-color {
  syntax: "<color>";
  inherits: false;
  initial-value: #151515;
}

@property --border-color {
  syntax: "<color>";
  inherits: false;
  initial-value: #606060;
}
